# Node modules
node_modules/

# Build output
dist/
build/
.package-lock.json

# Log files
*.log

# Dependency directories
jspm_packages/

# Visual Studio Code files
.vscode/

# macOS system files
.DS_Store

# TypeScript files
*.tsbuildinfo

# SCSS cache
*.scssc

# Environment variables
.env
