# Node modules
node_modules/

# Build output
dist/
build/

# Log files
*.log

# Dependency directories
jspm_packages/

# Visual Studio Code files
.vscode/

# macOS system files
.DS_Store

# Compiled files
*.js
*.css

# TypeScript files
*.tsbuildinfo

# SCSS cache
*.scssc

# Environment variables
.env
