@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

.font-pretendard { font-family: "Pretendard Variable", sans-serif; }

@media (min-width: 1024px) {
  .container {
    max-width: 768px;
    margin: auto;
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

.floating { animation: float 2s ease-in-out infinite; }
.animate-pulse { animation: pulse 1.5s infinite ease-in-out; }
.translate-y-10 { transform: translateY(40px); }
.translate-y-0 { transform: translateY(0); }
